name: CI -> test
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Here is the deployment action
      - name: Upload from public_html via FTP
        uses: airvzxf/ftp-deployment-action@latest
        with:
          server: ${{ business64.web-hosting.com }}
          user: ${{ yohannes@onion.ke }}
          password: ${{ 7X4r).;X$V6x }}
          local_dir: "./"
          delete: "false"
